.home-title {
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
}
.glist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 45vw;
  margin: 5px;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}
.subtitle {
  font-size: 30px;
}

.directions {
  font-size: 15px;
}

.genre-change {
  /* position: relative; */
  /* border: solid red 1px; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: end;
  margin-right: 400px;
  font-size: 20px;
}

.genre-change select {
  height: 30px;
}
