.main-form-containter {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.form-containter {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

input {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

input:focus {
  border-bottom: 2px solid #4d90fe;
}

.login-btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #7699d4;
  color: #fff;
  cursor: pointer;
}

.signin-btn {
  margin-top: 12px;
  font-size: 14px;
  text-decoration: underline;
  color: #a9927d;
  background-color: transparent;
  border: none;
}

.signin-btn:hover {
  color: #000;
}

.error-message {
  color: red;
}
